<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Fogli di stile -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"/>-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{css/plugins/datapicker/datepicker3.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/chosen/bootstrap-chosen.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet">





    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">PiuCultura</title>
</head>
<body class="landing-page">
        <input type="hidden" value="${conf}"/>
        <div th:replace="fragments/header :: header"></div>

        <div class="wrapper wrapper-content">
            <div layout:fragment="content"></div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>


    <!-- include javascript -->
    <script  src="/js/jquery-3.1.1.min.js/"></script>
    <script  src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Input Mask-->
    <script src="/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <th:block layout:fragment="script"></th:block>

</body>
</html>