<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout}">

<body>
<div layout:fragment="content">
    <div class="container animated fadeInDown">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>Cambia Password</h1>
                    </div>
                    <div class="ibox-content">
                        <form action="#" th:action="@{/auth/cambioUserpassword}" th:object="${richiestaCambioPassword}" method="post">
                            <div th:if="${errorMessage}" class="alert alert-danger"
                                 role="alert">
                                <h2 th:if="${errorMessage}" th:text="${errorMessage}" ></h2>
                            </div>
                            <div class="form-group">
                                <label for="oldPassword">Vecchia password</label>:
                                <input type="password" id="oldPassword"  name="oldPassword" required="true" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="newPassword">Nuova password</label>:
                                <input type="password" id="newPassword"  name="newPassword" required="true" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="confermaPassword">Conferma password</label>:
                                <input type="password" id="confermaPassword"  name="confermaPassword" required="true" class="form-control"/>
                            </div>
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="btn btn-primary"
                                   value="Invia">
                            <div th:if="${resultRipristinoSucces}" class="alert alert-success"
                                 role="alert">
                                <h2 th:if="${resultRipristinoSucces}" th:text="${resultRipristinoSucces}"></h2>
                            </div>
                            <div th:if="${resultRipristinoError}" class="alert alert-danger"
                                 role="alert">
                                <h2 th:if="${resultRipristinoError}" th:text="${resultRipristinoError}"></h2>
                            </div>
                        </form>


                        <br>

                    </div>

        </div>
    </div>
</div>
    </div>
</div>
</body>
</html>