<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout}">
<head>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="container animated fadeInDown">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Ops! Si è verificato un errore</h2>
                    </div>
                    <div class="ibox-content">
                        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                            <h2 th:if="${errorMessage}" th:text="${errorMessage}"></h2>
                        </div>

                        <a href="/" class="btn btn-primary" role="button">Torna al sito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>