<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout}">

<body>
<div layout:fragment="content">
    <div class="container animated fadeInDown">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>Accedi</h1>
                    </div>
                    <div class="ibox-content">
                        <form action="#" th:action="@{/login}" th:object="${user}" method="post">
                            <div th:if="${errorMessage}" class="alert alert-danger"
                                 role="alert">
                                <h2 th:if="${errorMessage}" th:text="${errorMessage}"></h2>
                            </div>
                            <div th:if="${resultLoginError}" class="alert alert-danger"
                                 role="alert">
                                <h2 th:if="${resultLoginError}" th:text="${resultLoginError}"></h2>
                            </div>
                            <div class="form-group">
                                <label for="email">Username</label>:
                                <input type="text" id="email" name="email" class="form-control" required="true"/>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>:
                                <input type="password" id="password"  name="password" class="form-control" required="true"/>
                            </div>
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn_color_orange"
                                   value="Login">
                            <div th:if="${resultLoginSucces}" class="alert alert-success"
                                 role="alert">
                                <h2 th:if="${resultLoginSucces}" th:text="${resultLoginSucces}"></h2>
                            </div>



                        </form>


            <br>

            <div class="margin-top20 text-center"><a  th:href="@{/forgot}"><small>Password dimenticata?</small></a></div>
            <div class="margin-top20 text-center"> Non hai un account? <a  th:href="@{/profilo}">Crea account</a></div>
             <div class="margin-top20 text-center"><a  th:href="@{/auth/reinvia/}"><small>Rinvia email attiva account?</small></a></div>

                    </div>
        </div>
    </div>
</div>
    </div>
</div>
</body>
</html>