<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Sign up</title>
    <link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1>Profilo</h1>
                        <div class="ibox-content">
                            <form action="#" th:action="@{/profilo}" th:object="${responseUserPrincipal}" method="post">

                            <div class="row">
                                <div class="col-md-3 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="nomeUtente"><h4>Nome </h4></label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                            <input name="name"  th:attr="placeholder=${name}" type="text" class="form-control" id="nomeUtente" placeholder="name" required autofocus
                                            > <!--th:field="*{firstname}"-->
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <div class="form-group">
                                        <label for="username"><h4>Username</h4></label>
                                        <!-- <div class="col-md-3">-->
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                            <input name="username"  th:attr="placeholder=${username}" type="text"  class="field left" id="username" placeholder="username" required autofocus readonly="readonly"><!--th:field="*{lastname}"-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="email"><h4>Email</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                                <input name="email" th:attr="placeholder=${email}" type="text" class="form-control" id="email" placeholder="email" required autofocus> <!--th:field="*{firstname}"-->
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <a href="/" class="btn btn-white" role="button">Cancella</a>
                                            <button class="btn btn-primary" type="submit">Salva</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>