<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Sign up</title>
    <link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">


                    <div class="ibox-title">
                        <h1>Profilo</h1>
                        <div class="ibox-content">
                            <form action="#" th:action="@{/profilo}" th:object="${responseUserPrincipal}" method="post">

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="name"><h4>Nome</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                                <input name="name" type="text" th:attr="placeholder=${name}" class="form-control" id="name" required autofocus
                                                       th:value="${name != null} ? ${name} : ${name}"
                                                > <!--th:field="*{firstname}"-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="surname"><h4>Cognome</h4></label>
                                            <!-- <div class="col-md-3">-->
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                                                <input name="surname" type="text"  class="form-control" id="surname" th:attr="placeholder=${surname}" required autofocus
                                                       th:value="${surname != null} ? ${surname} : ${surname}"><!--th:field="*{lastname}"-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="email"><h4>Email</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                                <input th:if="${email == null}" name="email" type="text"  class="form-control" id="email"  th:attr="placeholder=${email}" required autofocus
                                                       th:value="${email != null} ? ${email} : ${email}"> <!--th:field="*{email}"-->
                                                <input th:unless="${email == null}" name="email" type="text"  class="form-control" id="email"  th:attr="placeholder=${email}" required autofocus readonly
                                                       th:value="${email != null} ? ${email} : ${email}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="username"><h4>Username</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                                <input th:if="${username == null}" name="username" type="text"  class="form-control" id="username"  th:attr="placeholder=${username}" required autofocus
                                                       th:value="${username != null} ? ${username} : ${username}"> <!--th:field="*{email}"-->
                                                <input th:unless="${username == null}" name="username" type="text"  class="form-control" id="username"  th:attr="placeholder=${username}" required autofocus readonly
                                                       th:value="${username != null} ? ${username} : ${username}"> <!--th:
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group" id="data_1">
                                            <label><h4>Data di nascita</h4></label>
                                            <div class="input-group date mb-2 mr-sm-2 mb-sm-0">
                                                <span class="input-group-addon" style="width: 2.6rem"><i class="fa fa-calendar"></i></span><input name="birth" type="text" class="form-control" th:attr="placeholder=${birth}"
                                                                                                                                                  th:value="${birth != null} ? ${birth} : ${birth}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group has-danger">
                                            <label for="country"><h4>Paese</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                                <input name = "country" type="country"  class="form-control" id="country" th:attr="placeholder=${country}" required
                                                       th:value="${country != null} ? ${country} : ${country}"> <!--th:field="*{password}"-->
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="qualification"><h4>Titolo di studio</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-graduation-cap"></i></div>
                                                <input name="qualification" type="text" class="form-control" id="qualification" th:attr="placeholder=${qualification}" required autofocus
                                                       th:value="${qualification != null} ? ${qualification} : ${qualification}"> <!--th:field="*{studio}"-->
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label for="profession"><h4>Professione</h4></label>
                                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-briefcase"></i></div>
                                                <input name="profession" type="text" class="form-control" id="profession"  required autofocus
                                                       th:value="${profession != null} ? ${profession} : ${profession}"> <!--th:field="*{professione}"-->
                                            </div>
                                        </div>
                                    </div>
                                </div>


<!--                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <div class="form-group">
                                            <label><h4>Disabilità&nbsp;&nbsp;</h4></label>
                                            <div class="i-checks checkbox-inline"><label> <input type="radio"  value="option1" name="a" id="DisabilitaSi"> <i></i>Si</label></div>
                                            <div class="i-checks checkbox-inline"><label> <input type="radio" checked="" value="option2" name="a" id="DisabilitaNo"> <i></i>No</label></div>
                                            <input name="disability" class="form-control" disabled="true" id="mText"  th:attr="placeholder=${disability}" type="text"
                                                   th:value="${disability != null} ? ${disability} : ${disability}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"><label class="col-sm-3 col-md-offset-2 control-label"><h4>Interessi</h4><small class="text-navy">Seleziona uno o più</small> </label>
                                        <div class="col-md-2"></div>

                                        <div class="i-checks checkbox-inline"><label class=""> <input type="checkbox" value=""> <i></i> Arte Contemporanea </label></div>
                                        <div class="i-checks checkbox-inline"><label> <input type="checkbox" value=""> <i></i> Sculture </label></div>
                                        <div class="i-checks checkbox-inline"><label> <input type="checkbox" value=""> <i></i> Arte classica </label></div>
                                        <div class="col-md-2"></div>
                                        <div>
                                            <div class="i-checks checkbox-inline"><label> <input type="checkbox" value=""> <i></i> Siti culturali </label></div>
                                            <div class="i-checks checkbox-inline"><label> <input type="checkbox" value=""> <i></i> Monumenti </label></div>
                                            <div class="i-checks checkbox-inline"><label> <input type="checkbox" value=""> <i></i> Storia </label></div>
                                        </div>

                                    </div>
                                </div>-->



                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <a href="/" class="btn btn-white" role="button">Cancella</a>
                                            <button class="btn btn-primary" type="submit">Salva</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <!-- Chosen country-->
    <script src="js/plugins/chosen/chosen.jquery.js"></script>
    <!-- Data picket -->
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script>
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });


        $('.chosen-select').chosen({width: "100%"});

    </script>

    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

    <script  src="/js/jquery-3.1.1.min.js/"></script>
    <script>
        $(document).ready(function() {
            $("#DisabilitaSi").click(function(){
                $("#mText").prop("disabled", false);
            });
            $("#DisabilitaNo").click(function(){
                $("#mText").prop("disabled", true);
            });

        });
    </script>
</th:block>

</body>
</html>