<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>header</title>
</head>
<body>

<div class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand2 " href="/" th:href="@{/}"></a>
        </div>


        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">

                <li th:if="${#authorization.expression('isAuthenticated()')}"  class="dropdown show">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Impostazioni <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profilo">Profilo</a></li>
                        <li><a href="/cambiopassword">Cambia Password</a></li>
                    </ul>
                </li>

                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true" id="logout"></span>&nbsp;Logout
                    </a>
                </li>
                <li th:unless="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
            </ul>
        </div><!--navbar-collapse-->
    </div><!--container-->
</div><!--navbar-->
</body>
</html>
