<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/mainLayout}">
<head>

    <title>Access Denied</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <div class="row">
            <h1>Access denied</h1>
            Le credenziali sbagliate
            <p><a href="/" th:href="@{/}">Back to home page</a></p>
        </div>
    </div>
</div>
</body>
</html>